.container {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	color: black;
	padding: 0;
	margin: 0;
}

.content{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact {
	font-size: 2.5rem;
	margin-bottom: 0.8em;
}

.enquiry {
	font-size: 1.3rem;
	margin-bottom: 1em;
}

.mail {
	font-weight: 300;
	font-size: 1.8rem;
}
