<div class="container">
	<div class="shop card-animation">
		<div class="logo-container">
			<img src="../../../assets/images/arto-logo-black.png" alt="ARTO LOGO" class="logo">
			<p class=" text logo-text">ART EXCLUSIVE SHOP</p>
		</div>
		<div class="about-logo">
			<img src="../../../assets/images/about-logo.png" alt="PAINTINGS" class="about-logo-image">
		</div>
	</div>
	<p class="header text">PAINTINGS FOR YOUR SPACE</p>
	<div class="card-about card-animation">
		<img src="../../../assets/images/cover-2.png" alt="Girl with a painting" class="card-about-image">
		<p class="card-about-text text">Behind every artwork we sell, there are ideas, visions, amazing artists and
			great stories. WE HAVE THE BEST PAINTINGS FOR YOUR SPACE IRRESPECTIVE OF
			THE BUDGET AND TIME. OUR MISSION IS TO DELIVER THE VERY BEST FOR YOU.</p>
	</div>
</div>
