<div class="footer-container">
	<div class="link-container">
		<a [routerLink]="['/']">
			<img src="../../../assets/images/arto-logo-new-black.png"
				 class="navbar-brand img-responsive logo "
				 alt="logo"
				 style="width: 5rem; height: 3rem">
		</a>
		<a [routerLink]="['/policies']" class="link-footer">Policies</a>
		<a [routerLink]="['/terms']" class="link-footer">Terms and conditions</a>
	</div>
	<footer class="w-100 pt-5 pb-3">
		<p class="footer-text">
			<span><img src="../../../assets/images/copri.png" alt="copyright" class="copyright" style=""/></span>
			<span style="font-size: 1.1rem"> 2020  </span> <span class="powered">POWERED BY</span>
			ARTO STUDIO PRIVATE LIMITED
		</p>
	</footer>
</div>
