.footer-container {
	width: 100vw;
	background-color: #18191B;
}

.link-container {
	padding: 2em;
	display: grid;
	grid-template-columns: 70% 15% 15%;
	width: 100%;
}

.link-footer {
	color: #F8F8F8;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	place-self: center;
	width: 100%;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.logo {
	place-items: center;
}

.footer-text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	color: #F8F8F8;
	padding: 0;
	margin: 0 0 0.5em;
	text-align: center;
}

.powered {
	letter-spacing: 0.1rem;
	color: #7A7A7A
}

.copyright {
	width: 1rem;
	height: 1rem;
	padding: 0;
	margin: 0 0 0.5em;
}

span {
	padding: 0;
	margin: 0;
}
