.search {
	padding-left: 3rem;
}

#searchBox {
	background-color: #f2f2f2;
}

has-search .form-control {
	padding-left: 2.375rem;
}

input[type="search"] {
	box-sizing: border-box;
	border: 1px solid #dadada;
	border-radius: 4px;
	font-size: 16px;
	background-color: #FAFAFA;
	outline: none;
	font-family: "Josefin Sans", sans-serif;
	/* background-image: url("../../../assets/images/search.svg");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px; */
}


input::placeholder {
	color: #9D9c9c;
	font-weight: 300;
}

.nav-link {
	color: #7a7a7a;

}

.form {
	position: relative;

}


.form-control {
	padding-left: 2.375rem;
}


.search-image {
	position: absolute;
	left: 0;
	bottom: 0;

}

.routeActive {
	color: var(--accent-color)
}


a {
	color: #8f9090;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.3rem;
	font-size: 0.9rem;
	transition: color ease 300ms;
}

a:hover {
	color: var(--accent-color);
}

li {
	margin-right: 3em;
}



