<div class="w-100 d-flex justify-content-center">
	<div class="shop-cover card-animation">
	</div>
</div>

<div class="container">
	<p>ALL PAINTINGS</p>
	<div class="card-grid">
		<div class="">
			<app-shop-card
				[imageUrl]="'../../../../assets/images/painting-1.png'"
				[name]="'THE NIGHT STREET'"
				[cost]="'9999'"
				[available]="'20TH JAN 2020'"
			></app-shop-card>
		</div>
		<div class="">
			<app-shop-card
				[imageUrl]="'../../../../assets/images/painting-2.png'"
				[name]="'THE ABSTRACT'"
				[cost]="'19999'"
				[available]="'20TH JAN 2020'"
			></app-shop-card>
		</div>
		<div class="">
			<app-shop-card
				[imageUrl]="'../../../../assets/images/painting-3.png'"
				[name]="'THE WALK'"
				[cost]="'7499'"
				[available]="'20TH JAN 2020'"
			></app-shop-card>
		</div>
	</div>
</div>
